<div class="hexagon-scroll-container">
  <div class="hexagon-grid">
    {% for product in collections.all.products %}
      <a href="{{ product.url }}" class="hexagon">
        <img src="{{ product.featured_image | img_url: '400x400' }}" alt="{{ product.title }}">
      </a>
    {% endfor %}
  </div>
</div>
